.btn {
    border-radius: 8px;
padding: 8px 16px;
width: 125px;
height: 40px;
background: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
display: block;
margin: 0 auto;
/* position: relative; */
}